.container{
  background-color: orange;
  width: 20rem;
  height: 10rem;
  
}

.div{
  height:15rem;
  background-color: rgb(69, 66, 66);
  color:white
 }

 .div1,.div2{background-color:rgb(171, 119, 22);
 }

 .fa-solid {font-size: 1.5rem; }

 span{
  margin-left:1rem;
  margin-right:2rem;
  color:white;
  
}

.div2{text-align:end}

nav.navbar {
  width: 40%;
float:left;   background-color:orange;
height:15rem;
}

.div2, ul{
  display: none;
}

nav.navbar:hover ul{
  list-style-type: none;
  display: block;
}

nav.navbar:hover .div2{
  display: block;
}

nav.navbar:hover .div1{
  display: none;
}

nav.navbar:hover{
  width: 70%;
  transition: width 0.75s ease-out;
}
  

/* .container:hover .div{
  background-color: black;
  
} */


